.sitemap>h1>span{
    color: rgb(145, 143, 140);
}
.info>  h3{
    margin:20px 0
}
.info  h3{
    color: blue;
}
@media only screen and (max-width: 576px) {
    .info{
        width: 300px;
    }
}
@media only screen and (max-width: 921px) {
    .info{
        width: 300px;
    }
}