.news-i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}
.img-new img{
    width: 230px;
    height: 150px;
    margin: 10px;
}
.news-text{
    margin: 0 50px;
}
.h3{
    color: blue;
    margin:10px 0
}
.news-text>:nth-child(2){
    margin:10px 0;
    position: relative;
    left: 200px;
    text-decoration: none;
}
.newstext{
    list-style: none;
}
.newstext>img{
    width: 400px;
    height: 200px;
    position: relative;
    left: 80px;
}
.title{
    text-align: center;
    color: blue;
    font-size: 18px;
    margin: 10px 0;
}
.datatime{
    margin: 10px 0;
    font-weight: 500;
    font-style: italic;
}
.content{
    font-size:18px;
    width: 590px;
    text-align: justify;
}
.author{
    position: relative;
    left: 400px;
    margin: 20px 0;
    font-weight: 900;
    font-style: italic;
}
.view{
    font-size: 12px;
    position: relative;
    right: 200px;
    top: 18px;
}
@media only screen and (max-width: 921px) {
    .news-i{
        position: relative;
        right: 50px;
        display: block;
    }
    .h3{
        font-size: 16px;
        width: 260px;
    }
    .newstext{
        width: 260px;
    }
    .newstext>img{
        width: 250px;
        height: 150px;
        left: 10px;
    }
    .newstext>:nth-child(4){
        width: 270px;
    }
}
@media only screen and (max-width:568px){
    .news-text>:nth-child(2){
        left: 160px;
    }
    .h3{
        font-size: 16px;
        width: 260px;
    }
    .newstext{
        width: 260px;
    }
    .newstext>img{
        width: 230px;
        height: 150px;
        left: 10px;
    }
    .newstext>:nth-child(4){
        width: 245px;
    }
    .newstext>:nth-child(2){
        width: 245px;
    }
}