.maps>img{
    width: 560px;
    height: 315px;
    position: relative;
    left: 0;
}
.container-maps ul>li{
    list-style: none;
    border: 1px dotted black;
    width: 570px;
    margin-bottom: 10px;
}
.header-maps{
    width: 560px;
    text-align: center;
}