
header{
    display: flex;
    background: url(../../images/header-bg.jpg);
    max-width: 940px;
    height: 195px;
    margin: auto;
}
.navbar{
    position: relative;
    left:17%;
    top: 8%;
    height: 60px;
}
.navbar ul li{
    display: inline-block;
    justify-content: center;
    letter-spacing: 1px;
}
li a{
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
}
a:hover{
    border-bottom: 2px solid;
    color: rgb(119, 119, 216);
    transition: 0.1s;
}
.header-bottom{
    display: flex;
    height: 135px;
}
.h1>:nth-child(1){
    font-size: 34px;
    font-weight: 700;
    position: relative;
    left:60px;
    top: 10px;
    letter-spacing: 5px;
}
.h1>:nth-child(2){
    font-size: 26px;
    font-weight: 500;
    color:#837878;
    font-style: italic;
    position: relative;
    left:28rem;
    top: 20px;
}
.search form{
    position: relative;
    top: 5.5rem;
    left: 1rem;
}
.search input{
    width: 200px;
    height: 30px;
    background-color: #f1f0f0;
    border: 1px solid #837878;
    padding: 5px;
}
.search a{
    height: 30px;
    text-decoration: none;
    background-color: blue;
    padding: 6px;
    color:white;
    font-size: 14px;
    margin: 5px;
    font-weight: 500;
}
.search a:hover{
    background-color: rgb(216, 216, 240);
}
.svg-nav{
    display: none;
}
@media only screen and (max-width: 568px) {
    header{
        max-width: 310px;
        height:150px
    }
    .navbar ul li{
        display: block;
        padding-bottom: 10px;
        background-color: rgb(213, 224, 236);
        max-width: 280px;
        position: relative;
        z-index: 1000;
        top: 30px;
    }
    .header-bottom{
        display: block;
        max-width: 320px
    }
    .svg-nav{
        display: block;
        position: absolute;
        width: 50px;
        left: 50px;
        top: 5px;
    }
    .h1>:nth-child(1){
        font-size: 12px;
        top: -50px;
    }
    .h1>:nth-child(2){
        font-size: 12px;
        position:absolute;
        left: 100px;
    }
    .search{
        position: relative;
        bottom: 90px;
        left: 30px;
    }
  }
  @media only screen and (max-width: 800px) {
    header{
        max-width: 360px;
        height:150px
    }
    .header-bottom{
        max-width: 310px
    }
  }
  @media only screen and (max-width: 921px) {
    header{
        max-width: 424px;
        height:150px
    }
    .header-bottom{
        max-width: 310px
    }
    .h1>:nth-child(2){display: none;
    }
    .search{
        left: 50px;
    }
    
  }
