.tests{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px dotted black;
    border-bottom:1px dotted black;
}
.left-t{
    position: relative;
    right: 100px;
}
.right-t{
    position: relative;
    bottom: 33px;
}
.right-t>:nth-child(2){
    background-color: rgba(0, 0, 255, 0.151);
}
.subjects a{
    display: block;
    text-decoration: none;
    margin:15px 0;
    padding: 15px ;
    color: blue;
    border: 1px dotted black;
    font-weight: 500;
}
.subjects a:hover{
    color: red;
}
/* Geography test  */
.container-gt{
    display: flex;
    justify-content: space-around;
}
.con-hed{
    display: block;
    text-align: center;

}
.ksq{
    border: 1px dotted black;
    width: 280px;
}

.left-gt ul>li>li{
    list-style: none;
    text-align: center;
    margin: 15px;
}
.left-gt ul>li{
    list-style: none;
    text-align: center;
    margin: 15px;
}
.left-gt ul>li{
    list-style: none;
    background-color: rgba(56, 59, 221, 0.123);
}
.right-gt ul>li{
    list-style: none;
    text-align: center;
    margin: 15px;
}
.right-gt ul>li>li{
    list-style: none;
    text-align: center;
    margin: 15px;
}
.right-gt ul>li{
    list-style: none;
    background-color: rgba(56, 59, 221, 0.123);
}
@media only screen and (max-width: 921px) {
    .container-gt{
        display: block;
    }
    .con-hed{
        text-align: start;

    }
}

@media only screen and (max-width: 568px) {
    .ksq{
        border: 1px dotted black;
        width: 260px;
    }
}