.container-main {
    background: url(../../images/tail-middle.jpg);
    max-width: 940px;
    margin: auto;
    height: 900px;
    display: flex;
}

.left-section {
    width: 35%;
}

.right-section {
    width: 80%;
}

.category {
    position: relative;
    padding: 10px;
    margin: 10px;
    left: 25px;
}

.category li {
    list-style: none;
    margin: 20px;
}

.category li a {
    font-size: 14px;
    color: blue;
}

.category li:hover {
    border-bottom: 1px dotted rgb(85, 85, 236);
}

.category li a:hover {
    border-bottom: 0px dotted rgb(85, 85, 236);
    color: rgb(255, 6, 6);
}

.category p {
    font-size: 22px;
    font-weight: 600;
    position: relative;
    left: 5px;
}

.sub-news {
    position: relative;
    left: 50px;
}

.sub-news p {
    position: relative;
    bottom: 120px;
    left: 27px;
    color: aliceblue
}

.sub-news form>:nth-child(2) {
    display: block;
    position: relative;
    bottom: 100px;
    left: 27px;
}

.sub-news form>:nth-child(3) {
    position: relative;
    bottom: 80px;
    left: 125px;
    background-color: rgb(110, 110, 233);
    border: 1px solid rgb(32, 84, 255);
    font-size: 14px;
    padding: 2px;
    color: aliceblue;
    cursor: pointer;
}

.sub-news form>:nth-child(3):hover {
    border: 1px solid white;
}

.fresh-news {
    position: relative;
    left: 50px;
    width: 230px;
}

.fresh-news>:nth-child(1) {
    font-size: 28px;
    position: relative;
    left: 80px;
}

.fresh-news>:nth-child(2) {
    font-size: 28px;
    position: relative;
    left: 40px;
    color: rgb(145, 143, 140);
}

.news {
    margin: 15px 0;
    list-style: none;
}

.news>:nth-child(1) {
    font-weight: 900;
}

.news>:nth-child(2) {
    font-weight: 700;
    color: blue;
    text-decoration: none;
    margin: 10px;
}

.news>:nth-child(3) {
    margin: 10px 0;
}

.right-section {
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-section::-webkit-scrollbar {
    background-color: rgba(236, 236, 236, 0);
}

.right-section img {
    width: 600px;
    height: 250px;
    position: relative;
    left: 45px;
}

.right-section>:nth-child(2) {
    position: relative;
    bottom: 230px;
    left: 90px;
    letter-spacing: 5px;
    font-size: 28px;
    color: white;
    font-weight: 900;
}

.right-section>:nth-child(3) {
    position: relative;
    bottom: 200px;
    left: 150px;
    letter-spacing: 5px;
    font-size: 28px;
    color: white;
    font-weight: 900;
}

.right-section>:nth-child(4) {
    position: relative;
    bottom: 170px;
    left: 140px;
    letter-spacing: 5px;
    font-size: 28px;
    color: white;
    font-weight: 900;
}

.all-news {
    width: 600px;
    position: relative;
    left: 45px;
    top: -100px
}

.home img {
    width: 600px;
    height: 500px;
    position: relative;
    left: -2px;
}
#icons{
    display: none;
}

@media only screen and (max-width: 576px) {
    .container-main {
        max-width: 420px;
        height: 450px;
    }
    .category{
     width: 300px;
     background-color: rgb(213, 224, 236);
     position:relative;
     z-index: 1;
    }
    .category>:nth-child(1){
        font-size: 14px;
    }
    .category>ul li a{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    #icons{
        display: block;
        position: absolute;
        left:25px;
        top: 130px;
    }
    #icons>:nth-child(1){
        position: relative;
        left: 30px;
    }
    .sub-news, .fresh-news{
        display: none;
    }
    .right-section{
        width:800px;
        position: relative;
        right: 30px;
        overflow-x:scroll;
    }
    .right-section>:nth-child(1){
        width: 600px;
        height: 100px;
        position: relative;
        top: 5px;
        left: 45px;
    }
    .right-section>:nth-child(4){
        font-size: 16px;
        bottom: 70px;
    }
    .right-section>:nth-child(3){
        font-size: 16px;
        bottom: 80px;
    }
    .right-section>:nth-child(2){
        font-size: 16px;
        bottom: 90px;
        left: 100px;
    }
    .all-news{
        top: 0;
    }
}
@media only screen and (max-width: 921px) {
    .right-section{
        width:1200px;
        right: 15px;
    }
}
