.footer{
    display: block;
    background:url(../../images/tempsnip.png);
    max-width: 940px;
    height: 100px;
    margin: auto;
}
.footer ul li{
    display: inline-block;
    position: relative;
    left: 152px;
}
.ul li>a{
    color: blue;
}
.ul li>a:hover{
    color: rgb(255, 30, 0);
    border-bottom: 1px dotted black;
}
.footer .ul{
    position: relative;
    right: 90px;
    top: 20px;
}
.ka{
    display: flex;
    position: relative;
    top: 30px;
    justify-content: center;
}
@media only screen and (max-width: 576px) {
    .ul{
        display: none;
    }
    .footer ul>li{
        display: block;
        margin-bottom: 10px;
        position: relative;
        left: 130px;
    }
    .ka{
        display: block;
        text-align: center;
    }
    .footer{
        height: 220px;
    }
}
@media only screen and (max-width: 921px) {
    .ul{
        display: none;
    }
    .footer ul>li{
        display: block;
        margin-bottom: 10px;
        position: relative;
        left: 130px;
    }
    .ka{
        display: block;
        text-align: center;
    }
    .footer{
        height: 230px;
    }

}
